development:
  adapter: mysql2
  encoding: utf8
  pool: 5
  database: <%= ENV.fetch('DATABASE_NAME', 'amahi_dev') %>
  host: <%= ENV.fetch('DATABASE_HOST', 'localhost') %>
  socket: <%= ENV['DATABASE_HOST'] ? nil : '/tmp/mysqld.sock' %>

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  encoding: utf8
  pool: 5
  database: <%= ENV.fetch('DATABASE_NAME', 'amahi_production') %>
  host: <%= ENV.fetch('DATABASE_HOST', 'localhost') %>
  socket: <%= ENV['DATABASE_HOST'] ? nil : '/tmp/mysqld.sock' %>
