<%# 🌊 Ocean Background — ambient animated atmosphere %>

<%# Layer 2: Gentle waves along the top %>
<div class="ocean-waves" aria-hidden="true">
  <svg class="ocean-wave ocean-wave--1" viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,60 C240,20 480,100 720,60 C960,20 1200,100 1440,60 L1440,0 L0,0 Z" fill="currentColor" style="color: var(--kai-primary)"/>
  </svg>
  <svg class="ocean-wave ocean-wave--2" viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,80 C360,30 720,110 1080,50 C1260,30 1380,70 1440,80 L1440,0 L0,0 Z" fill="currentColor" style="color: var(--kai-secondary)"/>
  </svg>
  <svg class="ocean-wave ocean-wave--3" viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,40 C180,90 540,10 900,70 C1080,90 1260,40 1440,50 L1440,0 L0,0 Z" fill="currentColor" style="color: var(--kai-primary)"/>
  </svg>
</div>

<%# Layer 3: Floating particles (bubbles) %>
<div class="ocean-particles" aria-hidden="true">
  <div class="ocean-particle" style="left: 5%;  --size: 5px; --duration: 25s; --sway: 7s;  --delay: 0s;"></div>
  <div class="ocean-particle" style="left: 12%; --size: 7px; --duration: 18s; --sway: 9s;  --delay: 2s;"></div>
  <div class="ocean-particle" style="left: 22%; --size: 4px; --duration: 28s; --sway: 6s;  --delay: 5s;"></div>
  <div class="ocean-particle" style="left: 35%; --size: 6px; --duration: 22s; --sway: 11s; --delay: 1s;"></div>
  <div class="ocean-particle" style="left: 45%; --size: 5px; --duration: 30s; --sway: 8s;  --delay: 8s;"></div>
  <div class="ocean-particle" style="left: 55%; --size: 8px; --duration: 20s; --sway: 10s; --delay: 3s;"></div>
  <div class="ocean-particle" style="left: 65%; --size: 4px; --duration: 26s; --sway: 7s;  --delay: 6s;"></div>
  <div class="ocean-particle" style="left: 75%; --size: 6px; --duration: 24s; --sway: 12s; --delay: 0s;"></div>
  <div class="ocean-particle" style="left: 85%; --size: 5px; --duration: 19s; --sway: 6s;  --delay: 4s;"></div>
  <div class="ocean-particle" style="left: 92%; --size: 7px; --duration: 27s; --sway: 9s;  --delay: 10s;"></div>
</div>
