form.kai-search.d-none.d-md-flex action="/search/files" method="get" id="searchform" role="search"
  = lucide_icon('search', size: 15)
  input aria-label="Search files" name="query" placeholder="Search files" maxlength="45" type="search"
