doctype 5
/ Dark for everyone: the water background is made for it.
html[lang="en" data-theme="dark" data-bs-theme="dark"]
  head
    meta charset="utf-8"
    link rel="icon" type="image/svg+xml" href="/favicon.svg"
    link rel="alternate icon" href="/favicon.ico"
    title = full_page_title

    = stylesheet_link_tag 'application'

    = javascript_include_tag 'application'

    link rel="search" type="application/opensearchdescription+xml" title="File Search" href="/search.xml"
    = csrf_meta_tags

  body

    == render 'layouts/ocean_bg'
    = render 'layouts/header'

    #content
      = render 'layouts/subheader'
      = render 'shared/flash_messages'
      #app.inner.container
        - unless @no_tabs
          = render 'shared/tabs'
        #preferences
          .preftab
              = yield
      .push
    = render 'layouts/footer'

    - if current_user_is_admin?
      == render 'layouts/system_update'

