doctype 5
/ Dark for everyone: the water background is made for it.
html[lang="en" data-theme="dark" data-bs-theme="dark"]
  head
    meta charset="utf-8"
    title = full_page_title

    = stylesheet_link_tag 'application'

    = javascript_include_tag 'application'

    link rel="search" type="application/opensearchdescription+xml" title="File Search" href="/search.xml"
    link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"

    = csrf_meta_tags

  body.basic

    == render 'layouts/ocean_bg'
    = render 'layouts/header'

    #content
      = render 'shared/flash_messages'
      #app.inner
        = yield
      .push
    = render 'layouts/footer'

    - if current_user_is_admin?
      == render 'layouts/system_update'

